/* navbar */
.navbar {
    background-color: DarkCyan;
    font-family: Garamond, Georgia, "Times New Roman";
}

/* header styling */
h1 {
  color: DarkCyan;
  font-family: Garamond, Georgia, "Times New Roman";
  font-size: 300%;
}
p {
  color: DarkGray;
  font-family: Arial;
  font-size: 100%;
  padding: 10px;
}