<!DOCTYPE html>
<html>
<head>
<style>

/* navbar */
.navbar.navbar-default {
    background-color: DarkCyan;
    font-family: Garamond, Georgia, "Times New Roman";
}

/* header styling */
h1{
  color: DarkCyan;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: DarkGray;
  font-family: Arial;
  font-size: 100%;
}
</style>

</html>