<!DOCTYPE html>
<html>
<head>
<style>

/* navbar */
.nav {
    background-color: #64CCAD;
    border-color: #E7E7E7;
    font-family: Garamond, Georgia, "Times New Roman"
}

/* header styling */
h1{
  color: ;
  font-family: verdana;
  font-size: 300%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>

</html>